In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285397 sha256=aa4d3b2720582a0f439c3c13819f1d33d9d2e1a4aaa80ef7d772c9b1e5467559
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [2]:
import pandas as pd
import numpy as np
import sqlite3

In [3]:
#crea una base de datos en memoria
conn=sqlite3.connect(":memory:")

In [4]:
from google.colab import files
files.upload()

Saving gender_submission.csv to gender_submission.csv
Saving test.csv to test.csv
Saving train.csv to train.csv

{'gender_submission.csv': b'PassengerId,Survived\r\n892,0\r\n893,1\r\n894,0\r\n895,0\r\n896,1\r\n897,0\r\n898,1\r\n899,0\r\n900,1\r\n901,0\r\n902,0\r\n903,0\r\n904,1\r\n905,0\r\n906,1\r\n907,1\r\n908,0\r\n909,0\r\n910,1\r\n911,1\r\n912,0\r\n913,0\r\n914,1\r\n915,0\r\n916,1\r\n917,0\r\n918,1\r\n919,0\r\n920,0\r\n921,0\r\n922,0\r\n923,0\r\n924,1\r\n925,1\r\n926,0\r\n927,0\r\n928,1\r\n929,1\r\n930,0\r\n931,0\r\n932,0\r\n933,0\r\n934,0\r\n935,1\r\n936,1\r\n937,0\r\n938,0\r\n939,0\r\n940,1\r\n941,1\r\n942,0\r\n943,0\r\n944,1\r\n945,1\r\n946,0\r\n947,0\r\n948,0\r\n949,0\r\n950,0\r\n951,1\r\n952,0\r\n953,0\r\n954,0\r\n955,1\r\n956,0\r\n957,1\r\n958,1\r\n959,0\r\n960,0\r\n961,1\r\n962,1\r\n963,0\r\n964,1\r\n965,0\r\n966,1\r\n967,0\r\n968,0\r\n969,1\r\n970,0\r\n971,1\r\n972,0\r\n973,0\r\n974,0\r\n975,0\r\n976,0\r\n977,0\r\n978,1\r\n979,1\r\n980,1\r\n981,0\r\n982,1\r\n983,0\r\n984,1\r\n985,0\r\n986,0\r\n987,0\r\n988,1\r\n989,0\r\n990,1\r\n991,0\r\n992,1\r\n993,0\r\n994,0\r\n995,0\r\n996,1\r\n997,0\r\n998,0\r\n999,0\r\n1000,0\r\n1001,0\r\n1002,0\r\n1003,1\r\n1004,1\r\n1005,1\r\n1006,1\r\n1007,0\r\n1008,0\r\n1009,1\r\n1010,0\r\n1011,1\r\n1012,1\r\n1013,0\r\n1014,1\r\n1015,0\r\n1016,0\r\n1017,1\r\n1018,0\r\n1019,1\r\n1020,0\r\n1021,0\r\n1022,0\r\n1023,0\r\n1024,1\r\n1025,0\r\n1026,0\r\n1027,0\r\n1028,0\r\n1029,0\r\n1030,1\r\n1031,0\r\n1032,1\r\n1033,1\r\n1034,0\r\n1035,0\r\n1036,0\r\n1037,0\r\n1038,0\r\n1039,0\r\n1040,0\r\n1041,0\r\n1042,1\r\n1043,0\r\n1044,0\r\n1045,1\r\n1046,0\r\n1047,0\r\n1048,1\r\n1049,1\r\n1050,0\r\n1051,1\r\n1052,1\r\n1053,0\r\n1054,1\r\n1055,0\r\n1056,0\r\n1057,1\r\n1058,0\r\n1059,0\r\n1060,1\r\n1061,1\r\n1062,0\r\n1063,0\r\n1064,0\r\n1065,0\r\n1066,0\r\n1067,1\r\n1068,1\r\n1069,0\r\n1070,1\r\n1071,1\r\n1072,0\r\n1073,0\r\n1074,1\r\n1075,0\r\n1076,1\r\n1077,0\r\n1078,1\r\n1079,0\r\n1080,1\r\n1081,0\r\n1082,0\r\n1083,0\r\n1084,0\r\n1085,0\r\n1086,0\r\n1087,0\r\n1088,0\r\n1089,1\r\n1090,0\r\n1091,1\r\n1092,1\r\n1093,0\r\n1094,0\r\n1095,1\r\n1096,0\r\n1097,0\r\n1098,1\r\n1099,0\r\n1100,1\r\n1101,0\r\n1102,0\r\n1103,0\r\n1104,0\r\n1105,1\r\n1106,1\r\n1107,0\r\n1108,1\r\n1109,0\r\n1110,1\r\n1111,0\r\n1112,1\r\n1113,0\r\n1114,1\r\n1115,0\r\n1116,1\r\n1117,1\r\n1118,0\r\n1119,1\r\n1120,0\r\n1121,0\r\n1122,0\r\n1123,1\r\n1124,0\r\n1125,0\r\n1126,0\r\n1127,0\r\n1128,0\r\n1129,0\r\n1130,1\r\n1131,1\r\n1132,1\r\n1133,1\r\n1134,0\r\n1135,0\r\n1136,0\r\n1137,0\r\n1138,1\r\n1139,0\r\n1140,1\r\n1141,1\r\n1142,1\r\n1143,0\r\n1144,0\r\n1145,0\r\n1146,0\r\n1147,0\r\n1148,0\r\n1149,0\r\n1150,1\r\n1151,0\r\n1152,0\r\n1153,0\r\n1154,1\r\n1155,1\r\n1156,0\r\n1157,0\r\n1158,0\r\n1159,0\r\n1160,1\r\n1161,0\r\n1162,0\r\n1163,0\r\n1164,1\r\n1165,1\r\n1166,0\r\n1167,1\r\n1168,0\r\n1169,0\r\n1170,0\r\n1171,0\r\n1172,1\r\n1173,0\r\n1174,1\r\n1175,1\r\n1176,1\r\n1177,0\r\n1178,0\r\n1179,0\r\n1180,0\r\n1181,0\r\n1182,0\r\n1183,1\r\n1184,0\r\n1185,0\r\n1186,0\r\n1187,0\r\n1188,1\r\n1189,0\r\n1190,0\r\n1191,0\r\n1192,0\r\n1193,0\r\n1194,0\r\n1195,0\r\n1196,1\r\n1197,1\r\n1198,0\r\n1199,0\r\n1200,0\r\n1201,1\r\n1202,0\r\n1203,0\r\n1204,0\r\n1205,1\r\n1206,1\r\n1207,1\r\n1208,0\r\n1209,0\r\n1210,0\r\n1211,0\r\n1212,0\r\n1213,0\r\n1214,0\r\n1215,0\r\n1216,1\r\n1217,0\r\n1218,1\r\n1219,0\r\n1220,0\r\n1221,0\r\n1222,1\r\n1223,0\r\n1224,0\r\n1225,1\r\n1226,0\r\n1227,0\r\n1228,0\r\n1229,0\r\n1230,0\r\n1231,0\r\n1232,0\r\n1233,0\r\n1234,0\r\n1235,1\r\n1236,0\r\n1237,1\r\n1238,0\r\n1239,1\r\n1240,0\r\n1241,1\r\n1242,1\r\n1243,0\r\n1244,0\r\n1245,0\r\n1246,1\r\n1247,0\r\n1248,1\r\n1249,0\r\n1250,0\r\n1251,1\r\n1252,0\r\n1253,1\r\n1254,1\r\n1255,0\r\n1256,1\r\n1257,1\r\n1258,0\r\n1259,1\r\n1260,1\r\n1261,0\r\n1262,0\r\n1263,1\r\n1264,0\r\n1265,0\r\n1266,1\r\n1267,1\r\n1268,1\r\n1269,0\r\n1270,0\r\n1271,0\r\n1272,0\r\n1273,0\r\n1274,1\r\n1275,1\r\n1276,0\r\n1277,1\r\n1278,0\r\n1279,0\r\n1280,0\r\n1281,0\r\n1282,0\r\n1283,1\r\n1284,0\r\n1285,0\r\n1286,0\r\n1287,1\r\n1288,0\r\n1289,1\r\n1290,0\r\n1291,0\r\n1292,1\r\n1293,0\r\n1294,1\r\n1295,0\r\n1296,0\r\n1297,0\r\n1298,0\r\n1299,0\r\n1300,1\r\n1301,1\r\n1302,1\r\n1303,1\r\n1304,1\r\n1305,0\r\n1306,1\r\n1307,0\r\n1308,0\r\n1309,0\r\n',

In [8]:
titanic=pd.read_csv('train.csv')
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [9]:
titanic=titanic.rename(columns={'PassengerId':'Id'})

In [10]:
titanic.Name=titanic['Name'].replace("'","")
titanic.head()

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
titanic.shape

(891, 12)

In [12]:
#Crea un dataframe que tiene las columnas, el tipo de columna y otras caracteristicas
def describe_dataframe(df):

    description = {}
    for col_name, dtype in df.dtypes.items(): #for entre los nombres de las columnas y los tipos

      num_unique = df[col_name].nunique() #cantidad de valores unicos de la columnas
      examples = df[col_name].value_counts().index[:3].tolist() #lista de 3 ejemplos de la columna
      is_numeric = pd.api.types.is_numeric_dtype(dtype) #dice si es numerico o no
      num_null = df[col_name].isnull().sum()
      percent_null = np.round(num_null / len(df) * 100, 2)
      col_description = {
            "col_name":col_name,
            "data_type": dtype,
            "num_unique": num_unique,
            "examples": examples,
            "num_null": num_null,
            "percent_null": percent_null,
        }
      if is_numeric:
            col_description.update({
                "min": np.round(df[col_name].min(), 2),
                "max": np.round(df[col_name].max(), 2),
                "mean": np.round(df[col_name].mean(), 2),
            })
      description[col_name] = col_description
    return pd.DataFrame(description).T.fillna('')

In [13]:
desc = describe_dataframe(titanic)
desc

,col_name,data_type,num_unique,examples,num_null,percent_null,min,max,mean
Id,Id,int64,891,"[1, 599, 588]",0,0.00,1,891,446.0
Survived,Survived,int64,2,"[0, 1]",0,0.00,0,1,0.38
Pclass,Pclass,int64,3,"[3, 1, 2]",0,0.00,1,3,2.31
Name,Name,object,891,"[Braund, Mr. Owen Harris, Boulos, Mr. Hanna, F...",0,0.00,,,
Sex,Sex,object,2,"[male, female]",0,0.00,,,
Age,Age,float64,88,"[24.0, 22.0, 18.0]",177,19.87,0.42,80.0,29.7
SibSp,SibSp,int64,7,"[0, 1, 2]",0,0.00,0,8,0.52
Parch,Parch,int64,7,"[0, 1, 2]",0,0.00,0,6,0.38
Ticket,Ticket,object,681,"[347082, CA. 2343, 1601]",0,0.00,,,
Fare,Fare,float64,248,"[8.05, 13.0, 7.8958]",0,0.00,0.0,512.33,32.2
Cabin,Cabin,object,147,"[B96 B98, G6, C23 C25 C27]",687,77.10,,,
Embarked,Embarked,object,3,"[S, C, Q]",2,0.22,,,

# **CREATE TABLE COMMAND**

In [14]:
def get_create_table_command(df, table_name):
  columns = []
  for col_name, dtype in df.dtypes.items():
    if dtype == "int64":
      sqlite_type = "INTEGER"
    elif dtype == "float64":
      sqlite_type = "REAL"
    else:
      sqlite_type = "TEXT"

    has_null = df[col_name].isnull().any() #Vemos si hay algun null

    if not has_null:
            sqlite_type += " NOT NULL"

    if col_name == "Id" and not has_null:
            sqlite_type += " PRIMARY KEY"

    columns.append(f"\t{col_name} {sqlite_type}")

    column_defs = ", \n".join(columns)

  return f"CREATE TABLE {table_name} (\n{column_defs}\n)"

In [15]:
from IPython.display import Markdown

create_table = get_create_table_command(titanic.drop(columns=['Embarked']), 'tb_titanic')
create_table

'CREATE TABLE tb_titanic (\n\tId INTEGER NOT NULL PRIMARY KEY, \n\tSurvived INTEGER NOT NULL, \n\tPclass INTEGER NOT NULL, \n\tName TEXT NOT NULL, \n\tSex TEXT NOT NULL, \n\tAge REAL, \n\tSibSp INTEGER NOT NULL, \n\tParch INTEGER NOT NULL, \n\tTicket TEXT NOT NULL, \n\tFare REAL NOT NULL, \n\tCabin TEXT\n)'

In [16]:
s = f"""```sql\n{create_table}\n```"""
s

'```sql\nCREATE TABLE tb_titanic (\n\tId INTEGER NOT NULL PRIMARY KEY, \n\tSurvived INTEGER NOT NULL, \n\tPclass INTEGER NOT NULL, \n\tName TEXT NOT NULL, \n\tSex TEXT NOT NULL, \n\tAge REAL, \n\tSibSp INTEGER NOT NULL, \n\tParch INTEGER NOT NULL, \n\tTicket TEXT NOT NULL, \n\tFare REAL NOT NULL, \n\tCabin TEXT\n)\n```'

In [17]:
display(Markdown(s))

```sql
CREATE TABLE tb_titanic (
	Id INTEGER NOT NULL PRIMARY KEY,
	Survived INTEGER NOT NULL,
	Pclass INTEGER NOT NULL,
	Name TEXT NOT NULL,
	Sex TEXT NOT NULL,
	Age REAL,
	SibSp INTEGER NOT NULL,
	Parch INTEGER NOT NULL,
	Ticket TEXT NOT NULL,
	Fare REAL NOT NULL,
	Cabin TEXT
)
```

**EJECUTAMOS EL COMANDO**

In [18]:
def execute_command(conn, sql_command):
  cursor = conn.cursor() #Crea un objeto cursor
  cursor.execute(sql_command) #ejecuta el comando sql
  conn.commit() #confirma los cambio en la base de datos

In [19]:
execute_command(conn, create_table)

In [20]:
def execute_query(conn, query):
  cursor = conn.cursor()
  cursor.execute(query)
  result = cursor.fetchall() #recupera los datos de la query ejecutada
  column_names = [column[0] for column in cursor.description] #obtiene los nombres de las columnas a traves del description del cursor
  df = pd.DataFrame(columns=column_names, data=result)
  cursor.close() #cierra el cursor
  return df

In [21]:
#Obtenemos información sobre las columnas de la tabla tb_titanic en la base de datos
execute_query(conn, "PRAGMA table_info(tb_titanic)")

    cid      name     type  notnull dflt_value  pk
0     0        Id  INTEGER        1       None   1
1     1  Survived  INTEGER        1       None   0
2     2    Pclass  INTEGER        1       None   0
3     3      Name     TEXT        1       None   0
4     4       Sex     TEXT        1       None   0
5     5       Age     REAL        0       None   0
6     6     SibSp  INTEGER        1       None   0
7     7     Parch  INTEGER        1       None   0
8     8    Ticket     TEXT        1       None   0
9     9      Fare     REAL        1       None   0
10   10     Cabin     TEXT        0       None   0

**CREAMOS TABLA AUXILIAR**

In [25]:
def string_to_dataframe(data):
  dict_data = {
        'Id':[],
        'description':[]
  }
  lines = data.strip().split("\n") #strip elimina los espacios en blanco y split divide segun delimitador
  for line in lines:
    _id, description = line.split("\t")
    dict_data['Id'].append(_id)
    dict_data['description'].append(description)
  df = pd.DataFrame(dict_data)

  return df

In [26]:
s = """\nC	Cherbourg\nQ	Queenstown\nS	Southampton\n"""
s

'\nC\tCherbourg\nQ\tQueenstown\nS\tSouthampton\n'

In [27]:
port_of_embarkation = string_to_dataframe(s)
port_of_embarkation

  Id  description
0  C    Cherbourg
1  Q   Queenstown
2  S  Southampton

In [28]:
create_table = get_create_table_command(port_of_embarkation, 'tb_port_embarkation')
s = f"""
```sql
{create_table}
```
"""
display(Markdown(s))

```sql
CREATE TABLE tb_port_embarkation (
	Id TEXT NOT NULL PRIMARY KEY,
	description TEXT NOT NULL
)
```

In [29]:
execute_command(conn, create_table)
execute_query(conn, "PRAGMA table_info(tb_port_embarkation)")

   cid         name  type  notnull dflt_value  pk
0    0           Id  TEXT        1       None   1
1    1  description  TEXT        1       None   0

# RELACION ENTRE TABLAS

In [30]:
#Verificamos si estan habilitadas las claves foraneas
execute_query(conn, "PRAGMA foreign_keys;")

   foreign_keys
0             0

In [31]:
#  habilitamos la creacion de claves foraneas
execute_command(conn, "PRAGMA foreign_keys = ON;")

In [32]:
#Verificamos si estan habilitadas las claves foraneas
execute_query(conn, "PRAGMA foreign_keys;")

   foreign_keys
0             1

In [43]:
#Creamos una clave foranea
alter_table = "ALTER TABLE tb_titanic ADD COLUMN Embarked TEXT REFERENCES tb_port_embarkation(Id)"
alter_table

'ALTER TABLE tb_titanic ADD COLUMN Embarked TEXT REFERENCES tb_port_embarkation(Id)'

In [41]:
execute_command(conn, alter_table)

OperationalError: ignored

In [45]:
execute_query(conn, "PRAGMA table_info(tb_titanic)")

    cid      name     type  notnull dflt_value  pk
0     0        Id  INTEGER        1       None   1
1     1  Survived  INTEGER        1       None   0
2     2    Pclass  INTEGER        1       None   0
3     3      Name     TEXT        1       None   0
4     4       Sex     TEXT        1       None   0
5     5       Age     REAL        0       None   0
6     6     SibSp  INTEGER        1       None   0
7     7     Parch  INTEGER        1       None   0
8     8    Ticket     TEXT        1       None   0
9     9      Fare     REAL        1       None   0
10   10     Cabin     TEXT        0       None   0
11   11  Embarked     TEXT        0       None   0

In [46]:
execute_query(conn, "PRAGMA foreign_key_list(tb_titanic)")

   id  seq                table      from  to  on_update  on_delete match
0   0    0  tb_port_embarkation  Embarked  Id  NO ACTION  NO ACTION  NONE

# **CRUD**

**The insert command (The C of CRUD)** **bold text**

In [47]:
column_names = ','.join(port_of_embarkation.columns)
column_names

'Id,description'

In [52]:
#Construimos el comendo INSERT
insert_commands = [f"INSERT INTO tb_port_embarkation ({column_names}) VALUES {tuple(values)}" for values in port_of_embarkation.values]
insert_commands

["INSERT INTO tb_port_embarkation (Id,description) VALUES ('C', 'Cherbourg')",
 "INSERT INTO tb_port_embarkation (Id,description) VALUES ('Q', 'Queenstown')",
 "INSERT INTO tb_port_embarkation (Id,description) VALUES ('S', 'Southampton')"]

In [50]:
port_of_embarkation.values

array([['C', 'Cherbourg'],
       ['Q', 'Queenstown'],
       ['S', 'Southampton']], dtype=object)

In [53]:
tuple(['C', 'Cherbourg'])

('C', 'Cherbourg')

In [54]:
s = f"""
```sql
{insert_commands[0]}
```
"""
display(Markdown(s))

```sql
INSERT INTO tb_port_embarkation (Id,description) VALUES ('C', 'Cherbourg')
```

In [56]:
from tqdm import tqdm

def execute_many_commands(conn, sql_commands):
    cursor = conn.cursor()
    for comm in tqdm(sql_commands):  #tqdm muestra el progreso de cada uno de los comandos
        print(comm)
        cursor.execute(comm)

    conn.commit()

In [57]:
execute_many_commands(conn, insert_commands)

100%|██████████| 3/3 [00:00<00:00, 1303.79it/s]

INSERT INTO tb_port_embarkation (Id,description) VALUES ('C', 'Cherbourg')
INSERT INTO tb_port_embarkation (Id,description) VALUES ('Q', 'Queenstown')
INSERT INTO tb_port_embarkation (Id,description) VALUES ('S', 'Southampton')

In [58]:
#Insertamos el dataframe de titanic en SQL

titanic.to_sql('tb_titanic', conn, if_exists='replace', index=False)

891

**The select command (The R of CRUD)**

In [60]:
query = """
SELECT *
FROM tb_titanic;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))

```sql

SELECT *
FROM tb_titanic;

```

In [61]:
execute_query(conn, query)

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,None,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

In [62]:
query = """
SELECT Name, Age
FROM tb_titanic;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT Name, Age
FROM tb_titanic;

```

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [63]:
query = """
SELECT *
FROM tb_titanic
LIMIT 10;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
LIMIT 10;

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,None,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,None,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,None,C

In [64]:
query = """
SELECT *
FROM tb_titanic
WHERE Sex = 'female';
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Sex = 'female';

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
1,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
2,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
3,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,None,S
4,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,None,C
...,...,...,...,...,...,...,...,...,...,...,...,...
309,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,None,S
310,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,None,S
311,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,None,Q
312,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
313,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,None,S

In [65]:
query = """
SELECT Name, Age
FROM tb_titanic
WHERE Sex = 'female';
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT Name, Age
FROM tb_titanic
WHERE Sex = 'female';

```

                                                  Name   Age
0    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
1                               Heikkinen, Miss. Laina  26.0
2         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
3    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  27.0
4                  Nasser, Mrs. Nicholas (Adele Achem)  14.0
..                                                 ...   ...
309       Shelley, Mrs. William (Imanita Parrish Hall)  25.0
310                       Dahlberg, Miss. Gerda Ulrika  22.0
311               Rice, Mrs. William (Margaret Norton)  39.0
312                       Graham, Miss. Margaret Edith  19.0
313           Johnston, Miss. Catherine Helen "Carrie"   NaN

[314 rows x 2 columns]

In [66]:
query = """
SELECT *
FROM tb_titanic
WHERE Age >= 18;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Age >= 18;

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
596,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,None,Q
597,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
598,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
599,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
600,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

In [67]:
query = """
SELECT Name, Age
FROM tb_titanic
WHERE Sex = 'female'
  AND Pclass=1;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT Name, Age
FROM tb_titanic
WHERE Sex = 'female'
  AND Pclass=1;

```

                                                 Name   Age
0   Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
1        Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
2                            Bonnell, Miss. Elizabeth  58.0
3      Spencer, Mrs. William Augustus (Marie Eugenie)   NaN
4            Harper, Mrs. Henry Sleeper (Myna Haxtun)  49.0
..                                                ...   ...
89         Wick, Mrs. George Dennick (Mary Hitchcock)  45.0
90  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  48.0
91   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  47.0
92      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  56.0
93                       Graham, Miss. Margaret Edith  19.0

[94 rows x 2 columns]

In [68]:
query = """
SELECT Name, Age, Pclass, Sex
FROM tb_titanic
WHERE Sex = 'female'
   OR Pclass=1;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT Name, Age, Pclass, Sex
FROM tb_titanic
WHERE Sex = 'female'
   OR Pclass=1;

```

                                                  Name   Age  Pclass     Sex
0    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0       1  female
1                               Heikkinen, Miss. Laina  26.0       3  female
2         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0       1  female
3                              McCarthy, Mr. Timothy J  54.0       1    male
4    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  27.0       3  female
..                                                 ...   ...     ...     ...
431                       Dahlberg, Miss. Gerda Ulrika  22.0       3  female
432               Rice, Mrs. William (Margaret Norton)  39.0       3  female
433                       Graham, Miss. Margaret Edith  19.0       1  female
434           Johnston, Miss. Catherine Helen "Carrie"   NaN       3  female
435                              Behr, Mr. Karl Howell  26.0       1    male

[436 rows x 4 columns]

In [69]:
query = """
SELECT *
FROM tb_titanic
WHERE Age IS null;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Age IS null;

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,6,0,3,"Moran, Mr. James",male,None,0,0,330877,8.4583,None,Q
1,18,1,2,"Williams, Mr. Charles Eugene",male,None,0,0,244373,13.0000,None,S
2,20,1,3,"Masselmani, Mrs. Fatima",female,None,0,0,2649,7.2250,None,C
3,27,0,3,"Emir, Mr. Farred Chehab",male,None,0,0,2631,7.2250,None,C
4,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,None,0,0,330959,7.8792,None,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
172,860,0,3,"Razi, Mr. Raihed",male,None,0,0,2629,7.2292,None,C
173,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,None,8,2,CA. 2343,69.5500,None,S
174,869,0,3,"van Melkebeke, Mr. Philemon",male,None,0,0,345777,9.5000,None,S
175,879,0,3,"Laleff, Mr. Kristo",male,None,0,0,349217,7.8958,None,S
176,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,None,1,2,W./C. 6607,23.4500,None,S

In [70]:
query = """
SELECT *
FROM tb_titanic
WHERE Pclass != 1;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Pclass != 1;

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
2,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
3,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q
4,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
670,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,None,S
671,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,None,Q
672,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
673,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,None,S
674,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

In [71]:
query = """
SELECT *
FROM tb_titanic
WHERE Age IS NOT null;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Age IS NOT null;

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
709,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,None,Q
710,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
711,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
712,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
713,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

In [72]:
query = """
SELECT *
FROM tb_titanic
WHERE Name LIKE '%James%';
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Name LIKE '%James%';

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,None,Q
1,68,0,3,"Crease, Mr. Ernest James",male,19.0,0,0,S.P. 3464,8.1583,None,S
2,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.0,0,0,C.A. 29178,13.0000,None,S
3,151,0,2,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.5250,None,S
4,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.0,0,0,C.A. 33595,15.7500,None,S
5,175,0,1,"Smith, Mr. James Clinch",male,56.0,0,0,17764,30.6958,A7,C
6,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0,0,0,PC 17610,27.7208,B4,C
7,222,0,2,"Bracken, Mr. James H",male,27.0,0,0,220367,13.0000,None,S
8,251,0,3,"Reed, Mr. James George",male,NaN,0,0,362316,7.2500,None,S
9,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C
10,417,1,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.0,1,1,28220,32.5000,None,S
11,429,0,3,"Flynn, Mr. James",male,NaN,0,0,364851,7.7500,None,Q
12,469,0,3,"Scanlan, Mr. James",male,NaN,0,0,36209,7.7250,None,Q
13,512,0,3,"Webber, Mr. James",male,NaN,0,0,SOTON/OQ 3101316,8.0500,None,S
14,513,1,1,"McGough, Mr. James Robert",male,36.0,0,0,PC 17473,26.2875,E25,S
15,526,0,3,"Farrell, Mr. James",male,40.5,0,0,367232,7.7500,None,Q
16,552,0,2,"Sharp, Mr. Percival James R",male,27.0,0,0,244358,26.0000,None,S
17,583,0,2,"Downton, Mr. William James",male,54.0,0,0,28403,26.0000,None,S
18,593,0,3,"Elsbury, Mr. William James",male,47.0,0,0,A/5 3902,7.2500,None,S
19,697,0,3,"Kelly, Mr. James",male,44.0,0,0,363592,8.0500,None,S
20,741,1,1,"Hawksford, Mr. Walter James",male,NaN,0,0,16988,30.0000,D45,S
21,812,0,3,"Lester, Mr. James",male,39.0,0,0,A/4 48871,24.1500,None,S
22,813,0,2,"Slemen, Mr. Richard James",male,35.0,0,0,28206,10.5000,None,S
23,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,None,S

In [73]:
query = """
SELECT *
FROM tb_titanic
WHERE Name NOT LIKE '%James%';
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Name NOT LIKE '%James%';

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
862,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
863,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
864,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,None,S
865,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
866,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,None,Q

In [74]:
query = """
SELECT *
FROM tb_titanic
WHERE Cabin IN ('C85', 'C123',  'C118')
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Cabin IN ('C85', 'C123',  'C118')

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
2,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.1000,C123,S
3,274,0,1,"Natsch, Mr. Charles H",male,37.0,0,1,PC 17596,29.7000,C118,C

In [75]:
query = """
SELECT *
FROM tb_titanic
WHERE Cabin NOT IN ('C85', 'C123',  'C118')
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Cabin NOT IN ('C85', 'C123',  'C118')

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
1,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
2,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
3,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
4,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
...,...,...,...,...,...,...,...,...,...,...,...,...
195,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
196,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
197,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
198,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
199,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [76]:
query = """
SELECT *
FROM tb_titanic
WHERE Age BETWEEN 18 AND 30;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Age BETWEEN 18 AND 30;

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
2,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,None,S
3,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,None,S
4,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
...,...,...,...,...,...,...,...,...,...,...,...,...
291,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,None,S
292,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,None,S
293,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,None,S
294,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
295,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [77]:
query = """
SELECT DISTINCT Pclass, Cabin
FROM tb_titanic;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT DISTINCT Pclass, Cabin
FROM tb_titanic;

```

     Pclass Cabin
0         3  None
1         1   C85
2         1  C123
3         1   E46
4         2  None
..      ...   ...
145       1   E17
146       1   A24
147       1   C50
148       1   B42
149       1  C148

[150 rows x 2 columns]

In [78]:
query = """
SELECT *
FROM tb_titanic
WHERE Age IS NOT null
ORDER BY Age ASC;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Age IS NOT null
ORDER BY Age ASC;

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,None,C
1,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,None,S
2,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,None,C
3,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,None,C
4,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
709,117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,None,Q
710,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
711,494,0,1,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,49.5042,None,C
712,852,0,3,"Svensson, Mr. Johan",male,74.00,0,0,347060,7.7750,None,S
713,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,A23,S

In [79]:
query = """
SELECT *
FROM tb_titanic
WHERE Age IS NOT null
ORDER BY Age ASC, Pclass DESC;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Age IS NOT null
ORDER BY Age ASC, Pclass DESC;

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,None,C
1,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,None,S
2,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,None,C
3,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,None,C
4,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
709,117,0,3,"Connors, Mr. Patrick",male,70.50,0,0,370369,7.7500,None,Q
710,97,0,1,"Goldschmidt, Mr. George B",male,71.00,0,0,PC 17754,34.6542,A5,C
711,494,0,1,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,49.5042,None,C
712,852,0,3,"Svensson, Mr. Johan",male,74.00,0,0,347060,7.7750,None,S
713,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,A23,S

In [80]:
query = """
SELECT Sex, COUNT(*)
FROM tb_titanic
GROUP BY Sex;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT Sex, COUNT(*)
FROM tb_titanic
GROUP BY Sex;

```

      Sex  COUNT(*)
0  female       314
1    male       577

In [81]:
query = """
SELECT Pclass, Sex, MIN(Age), MAX(Age)
FROM tb_titanic
GROUP BY Pclass, Sex;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT Pclass, Sex, MIN(Age), MAX(Age)
FROM tb_titanic
GROUP BY Pclass, Sex;

```

   Pclass     Sex  MIN(Age)  MAX(Age)
0       1  female      2.00      63.0
1       1    male      0.92      80.0
2       2  female      2.00      57.0
3       2    male      0.67      70.0
4       3  female      0.75      63.0
5       3    male      0.42      74.0

In [82]:
query = """
SELECT Pclass, Sex, MIN(Age), MAX(Age)
FROM tb_titanic
GROUP BY Sex, Pclass;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT Pclass, Sex, MIN(Age), MAX(Age)
FROM tb_titanic
GROUP BY Sex, Pclass;

```

   Pclass     Sex  MIN(Age)  MAX(Age)
0       1  female      2.00      63.0
1       2  female      2.00      57.0
2       3  female      0.75      63.0
3       1    male      0.92      80.0
4       2    male      0.67      70.0
5       3    male      0.42      74.0

In [83]:
query = """
SELECT Pclass, Sex, AVG(Age), count(1)
FROM tb_titanic
WHERE Survived = 1
GROUP BY Pclass, Sex;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT Pclass, Sex, AVG(Age), count(1)
FROM tb_titanic
WHERE Survived = 1
GROUP BY Pclass, Sex;

```

   Pclass     Sex   AVG(Age)  count(1)
0       1  female  34.939024        91
1       1    male  36.248000        45
2       2  female  28.080882        70
3       2    male  16.022000        17
4       3  female  19.329787        72
5       3    male  22.274211        47

**The select command using join (The R of CRUD)**

In [84]:
query = """
SELECT t.Name, t.Age, p.description as Port_Embarkation
FROM tb_titanic as t
INNER JOIN tb_port_embarkation as p
ON t.Embarked = p.Id
ORDER BY Port_Embarkation;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT t.Name, t.Age, p.description as Port_Embarkation
FROM tb_titanic as t
INNER JOIN tb_port_embarkation as p
ON t.Embarked = p.Id
ORDER BY Port_Embarkation;

```

                                                  Name   Age Port_Embarkation
0    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0        Cherbourg
1                  Nasser, Mrs. Nicholas (Adele Achem)  14.0        Cherbourg
2                              Masselmani, Mrs. Fatima   NaN        Cherbourg
3                              Emir, Mr. Farred Chehab   NaN        Cherbourg
4                             Uruchurtu, Don. Manuel E  40.0        Cherbourg
..                                                 ...   ...              ...
884                      Banfield, Mr. Frederick James  28.0      Southampton
885                             Sutehall, Mr. Henry Jr  25.0      Southampton
886                              Montvila, Rev. Juozas  27.0      Southampton
887                       Graham, Miss. Margaret Edith  19.0      Southampton
888           Johnston, Miss. Catherine Helen "Carrie"   NaN      Southampton

[889 rows x 3 columns]

In [85]:
query = """
SELECT t.Name, t.Age, p.description as Port_Embarkation
FROM tb_titanic as t
LEFT JOIN tb_port_embarkation as p
ON t.Embarked = p.Id
ORDER BY Port_Embarkation;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT t.Name, t.Age, p.description as Port_Embarkation
FROM tb_titanic as t
LEFT JOIN tb_port_embarkation as p
ON t.Embarked = p.Id
ORDER BY Port_Embarkation;

```

                                                  Name   Age Port_Embarkation
0                                  Icard, Miss. Amelie  38.0             None
1            Stone, Mrs. George Nelson (Martha Evelyn)  62.0             None
2    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0        Cherbourg
3                  Nasser, Mrs. Nicholas (Adele Achem)  14.0        Cherbourg
4                              Masselmani, Mrs. Fatima   NaN        Cherbourg
..                                                 ...   ...              ...
886                      Banfield, Mr. Frederick James  28.0      Southampton
887                             Sutehall, Mr. Henry Jr  25.0      Southampton
888                              Montvila, Rev. Juozas  27.0      Southampton
889                       Graham, Miss. Margaret Edith  19.0      Southampton
890           Johnston, Miss. Catherine Helen "Carrie"   NaN      Southampton

[891 rows x 3 columns]

**The update command (The U of CRUD)**

In [ ]:
#Consultamos los promedios de edad de cada sexo
query = """
SELECT Sex, AVG(Age)
FROM tb_titanic
GROUP BY Sex;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

In [ ]:
#Consultamos la cantidad de valores nulos en edad
query = """
SELECT *
FROM tb_titanic
WHERE Age is null;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

In [88]:
#Le asignamos la edad promedio a los valores nulos mujeres
sql_command = """
UPDATE tb_titanic
SET Age = 27
WHERE Sex='female' and Age is Null;
"""
s = f"""
```sql
{sql_command}
```
"""
display(Markdown(s))
# Just execute the command
execute_command(conn, sql_command)

```sql

UPDATE tb_titanic
SET Age = 27
WHERE Sex='female' and Age is Null;

```

In [89]:
##Le asignamos la edad promedio a los valores nulos hombres
sql_command = """
UPDATE tb_titanic
SET Age = 30
WHERE Sex='male' and Age is Null;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the command
execute_command(conn, sql_command)

```sql

SELECT *
FROM tb_titanic
WHERE Age is null;

```

In [90]:
#Verificamos que no haya nulos
query = """
SELECT *
FROM tb_titanic
WHERE Age is null;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Age is null;

```

Empty DataFrame
Columns: [Id, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [91]:
#Verificamos que se mantenga la edad promedio
query = """
SELECT Sex, AVG(Age)
FROM tb_titanic
GROUP BY Sex;
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT Sex, AVG(Age)
FROM tb_titanic
GROUP BY Sex;

```

      Sex   AVG(Age)
0  female  27.761146
1    male  30.570485

In [92]:
#Vemos los casos que modificamos
query = """
SELECT *
FROM tb_titanic
WHERE Id in (6, 18, 20, 29);
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Id in (6, 18, 20, 29);

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,6,0,3,"Moran, Mr. James",male,30.0,0,0,330877,8.4583,None,Q
1,18,1,2,"Williams, Mr. Charles Eugene",male,30.0,0,0,244373,13.0000,None,S
2,20,1,3,"Masselmani, Mrs. Fatima",female,27.0,0,0,2649,7.2250,None,C
3,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,27.0,0,0,330959,7.8792,None,Q

**The delete command (The D of CRUD)**

In [93]:
#Consultamos los casos que no embarcaron
query = """
SELECT *
FROM tb_titanic
WHERE Embarked is null
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Embarked is null

```

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,None
1,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,None

In [94]:
#eliminamos los casos
sql_command = """
DELETE from tb_titanic
WHERE Embarked is Null;
"""
s = f"""
```sql
{sql_command}
```
"""
display(Markdown(s))
# Just execute the command
execute_command(conn, sql_command)

```sql

DELETE from tb_titanic
WHERE Embarked is Null;

```

In [95]:
#Verificamos
query = """
SELECT *
FROM tb_titanic
WHERE Embarked is null
"""
s = f"""
```sql
{query}
```
"""
display(Markdown(s))
# Just execute the query
execute_query(conn, query)

```sql

SELECT *
FROM tb_titanic
WHERE Embarked is null

```

Empty DataFrame
Columns: [Id, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []